.App{
  height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-size: 3em;
  color: white;
  margin-bottom: 15px;
}

.contenedor-calculadora{
  background-color: #164d63;
  width: 300px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
}

.boton{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4446d4;
  border-color: #282c34;
  margin: 0 0 5px 5px;
  font-size: 1.5em;
  cursor: pointer;
}
.boton:hover{
  background-color: #3c78e9;
}

.boton-operador{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #44d44b;
  border-color: #282c34;
  margin: 0 0 5px 5px;
}

.boton-operador:hover{
  background-color: #2cee84;
}


.pantalla{
  width: 95%;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 1.6em;
}